<%= form_for User.new, url: create_user_path do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, :required => true %>
  </div>

  <div class="field">
    <%= f.label :role %>
    <%= f.select :role, options_for_select(User.roles.map {|k, v| [k.humanize.capitalize, v]}) %>
  </div>

  <div class="actions">
    <%= f.submit "Add user" %>
  </div>
<% end %>