<h1>Stock Values Service Management</h1>

<%= form_tag(run_job_path, method: "post") do %>  
  <p>Status: <%= CaptureStockValueJob::Status.status %></p>
  <div class="actions">
    <% if(CaptureStockValueJob::Status.paused) %>
      <%= submit_tag "Resume", formaction: resume_job_path %>
    <% else %>
      <%= submit_tag "Pause", formaction: pause_job_path %>
    <% end %>    
    <%= submit_tag "Run Now", formaction: run_job_path %>
  </div>
<% end %>