<h1>Editing Stock List</h1>

<%= render 'form', stock_list: @stock_list %>

<%= form_with(model: [ @stock_list, @stock_list.stock_tickers.build ]) do |form| %>
  <table>
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Threshold (Min)</th>
        <th>Threshold (Max)</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <% @stock_list.stock_tickers.each do |stock_ticker| %>
        <% if( !stock_ticker.symbol.nil? ) %>
            <tr>
                <td><%= stock_ticker.symbol %></td>
                <td><%= stock_ticker.name %></td>
                <td><%= stock_ticker.min_threshold %></td>
                <td><%= stock_ticker.max_threshold %></td>
                <td><%= link_to 'Delete', [@stock_list, stock_ticker], method: :delete %></td>
            </tr>
        <% else %>
            <tr>
                <td><%= form.text_field :symbol, maxlength: 4, style: 'text-transform: uppercase;' %></td>
                <td><%= form.text_field :name %></td>
                <td><%= form.text_field :min_threshold, class: "medium" %></td>
                <td><%= form.text_field :max_threshold, class: "medium" %></td>
                <td><%= form.submit "Add" %></td>
            </tr>
        <% end %>
      <% end %>      
    </tbody>
  </table>
<% end %>

<%= form_with(model: [ @stock_list, @stock_list.stock_list_users.build ], local: true) do |form| %>
  <h2>Sharing</h2>
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th></th>     
      </tr>
    </thead>
  
    <tbody>
      <% @stock_list.stock_list_users.each do |stock_list_user| %>        
        <% user = stock_list_user.user %>
        <% if (!stock_list_user.user_id.nil?) %>
          <tr>
              <td><%= user.email %></td>
              <td><%= link_to 'Delete', [@stock_list, stock_list_user], method: :delete %></td>
          </tr>
        <% else %>
          <tr>
            <td><%= form.text_field :email %></td>
            <td><%= form.submit "Share" %></td>
          </tr>
        <% end %>
      <% end %>        
    </tbody>
  </table>
<% end %>

<%= link_to 'Show', @stock_list %> |
<%= link_to 'Back', stock_lists_path %>