<p>
  <strong>Name:</strong>
  <%= @stock_list.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @stock_list.description %>
</p>

<% @stock_list.stock_tickers.each do |stock_ticker| %>
  <div><%= stock_ticker.symbol %> | <%= stock_ticker.name %></div>
  <table>
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Time Stamp (EST)</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
        <th>Volume</th>
        <th>Captured (UTC)</th>
      </tr>
    </thead>
    <tbody>
      <% stock_ticker.stock_values.order(created_at: :desc).limit(5).each do |stock_value| %>
        <% if(stock_value.stock_value_error_id.nil?) %>
          <tr>
            <td><%= stock_value.symbol %></td>          
            <td><%= stock_value.timestamp.try(:strftime, "%F %H:%M") %></td>
            <td><%= number_with_precision(stock_value.open, :precision => 4) %></td>
            <td><%= number_with_precision(stock_value.high, :precision => 4) %></td>
            <td><%= number_with_precision(stock_value.low, :precision => 4) %></td>
            <td><%= number_with_precision(stock_value.close, :precision => 4) %></td>
            <td><%= number_with_delimiter(stock_value.volume, :delimiter => ',') %></td>        
            <td><%= stock_value.created_at.try(:strftime, "%F %H:%M") %></td>
          </tr>
        <% else %>
          <tr class="error">
            <td><%= stock_value.symbol %></td>
            <td colspan="6"><%= stock_value.stock_value_error.try(:friendly_message) %></td>
            <td><%= stock_value.created_at.try(:strftime, "%F %H:%M") %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if (user_is_authorized(false)) %>
<%= link_to 'Edit', edit_stock_list_path(@stock_list) %> |
<% end %>
<%= link_to 'Back', stock_lists_path %>