<!DOCTYPE html>
<html>
  <head>
    <title>Stocktracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="menu">
    <% if user_signed_in? %>      
      <li class="menuitem">
      <%= link_to('Stock Lists', stock_lists_path) %>
      </li>      
      <%  if (current_user.admin?) %>
        <li class="menuitem">
        <%= link_to('Manage Users', users_path) %>
        </li>
        <li class="menuitem">
        <%= link_to('Manage Stock Service', stock_values_path) %>
        </li>
      <% end %>
      <li class="menuitem">
        <%= link_to("Logout (#{current_user.email})", destroy_user_session_path, method: :delete) %>
      </li>
    <% else %>
      <li class="menuitem">
      <%= link_to('Login', new_user_session_path)  %>  
      </li>
    <% end %>
    </ul>
    <p id="notice" class="notice"><%= notice %></p>
    <p id="alert" class="alert"><%= alert %></p>
    <br/>
    <%= yield %>
  </body>
</html>
